@model HomeVM
    
<h2>@Model.Title</h2>

@foreach (var car in Model.Cars)
{
<h4>
    <a asp-controller="Home" asp-action="Details" asp-route-id="@car.Id">@car.Brand</a>
</h4>
    <ul>
        <li>@car.Model</li>
        <li>@car.Year</li>
        <li>@car.Power</li>
        <li>@car.Volume</li>
        <li>@car.Distance</li>
        <li>@car.Fuel</li>
        <li>@car.Description</li>
        <li>@car.Price.ToString("c")</li> @*currency format*@
    </ul>
}


